*{
    margin:0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
@font-face {
    font-family: 'firrasansRegular';
    src: url('./fonts/fira-sans.regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'firrasansBold';
    src: url('./fonts/fira-sans.semibold.ttf');
    font-display: swap;
}
body {
    color: #383030;
    font-family: 'firrasansRegular';
}
img {
    width: 100%;
}



.wrapper{
    padding: 2%;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1.5%;
    margin-bottom: 3%;
}
.page-title {
    color: #4e4647;
    font-family: 'Merriweather', serif;
    font-size: 56px;
}
.video-anchor {
    font-size: 23px;
    padding-top: 2%;
    cursor: pointer;
    text-decoration: none;
    color: #383030;

}
.video-anchor:hover {
    color: #0080a4;
}

.article-wrapper {
    padding: 5% 6%;
}

.page-desc {
    font-size: 20px;
    line-height: 2;
}
.meta-desc {
    font-size: 20px;
    display: inline;
    color: #0080a4;
}



.playlist-wrapper {
    padding-top: 3%;
}
.article-heading {
    font-size: 40px;
    color: #0080a4;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1%;
    margin-bottom: 4%;
}
.list-item-anchor {
    display: flex;
    text-decoration: none;
    color: #383030;
}
.thumbnail-wrapper {
    width: 25%;
}
.thumbnail {
    border-radius: 5%;
}
.video-desc {
    margin: auto 0;
    margin-left: 6%;
}
.list-item-anchor:hover {
    color: #0080a4;
}


.member-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%
}
.member-item {
    width: 15%;
}
.member-image {
    border-radius: 50%;
}
.name, .desgination {
    text-align: center;
    margin: 6% 0;
}
.name {
    color: #0080a4;
}

.linkedin-icon {
    margin-left: 2%;
    font-size: 1.5em;
}

a.linkedinTag {
    text-decoration: none;
}

a.linkedinTag:visited {
    color: #0180a4;
}

a.linkedinTag:hover {
    color: #0e9ac1;
}

.tad-logo {
    width: 8%;
}

.navbar {
    margin-top: 1.5%;
}

.navbar-ul {
    display: flex;
    justify-content: flex-end;
}

.navbar-ul > li {
    padding: 0 2%;
}

.footer {
    background-color: #4c4c50;
    color: white;
    padding: 2% 0;
    text-align: center;
}
.linkedin {
    text-decoration: none;
    color: #0080a4;
}


@media only screen and (max-width: 1024px) {
    .thumbnail-wrapper {
      width: 60%;
    }
    .page-title {
        font-size: 45px;
    }
}

@media only screen and (max-width: 768px) {
    .page-desc {
        font-size: 15px;
    }
    .video-anchor{
        font-size: 19px;
    }
    .page-title {
        font-size: 35px;
    }
    .article-heading {
        font-size: 25px;
    }
    .thumbnail-wrapper {
        width: 90%;
    }
    .video-desc {
        font-size: 13px;
    }
    .footer {
        font-size: 15px;
    }
}



@media only screen and (max-width: 425px) {
    .header {
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 7.5%;
        justify-content: center;
    }
    .video-anchor {
        border: 1px solid #0080a4;
        padding: 3%;
        border-radius: 8px;
    }
    .page-title {
        width: 100%;
        margin-bottom: 16%;
    }
    .list-item-anchor{
        flex-wrap: wrap;
        justify-content: center;
    }
    .thumbnail-wrapper {
        width: 65%;
        margin-bottom: 7%;
    }
    .playlist-wrapper {
        padding-top: 11%;
    }
    .video-desc {
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }
    .article-wrapper {
        padding: 13% 6%;
    }
    .article-heading {
        padding-bottom: 5%;
    }
    .member-image {
        width: 60%;
    }
    .member-item {
        width: 100%;
        text-align: center;
        padding-bottom: 13%;
    }
    .member-wrapper {
        padding-top: 14%;
        flex-wrap: wrap;
    }
    .footer {
        font-size: 12px;
    }
}